* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

/*IMAGEM DE GAME OVERE BOTÃO DE RESET*/
.game-over {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.restart {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    cursor: pointer;
    display: none;
    border-radius: 50px;
    color: white;
    background: red;
}



.game_board {
    width: 100%;
    height: 500px;
    border: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden; /*TUDO O QUE ESTIVER ALEM DA BORDA É ESCONDIDO*/
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe_animation 1.5s infinite linear;

}

/*GIF DO MARIO CORRENDO NA TELA*/
.mario {
    width: 120px;
    position: absolute;
    bottom: 0;
    
}

.clouds {
    width: 420px;
    position: absolute;
    animation: clouds_animations 15s infinite linear;
}



.jump {
    animation: jump 500ms ease-out;
}
/*ANIMAÇAÕDO TUBO*/
@keyframes pipe_animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

/*ANIMAÇAO DE PULO DO MARIO*/
@keyframes jump {
    0% {
        bottom: 0;
        }
    
    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }

}

@keyframes clouds_animations {
    from {
        right: -420px;
    }

    to {
        right: 100%;
    }
}